@use "sass:math" as math;
@use "sass:list";

a {
   margin: 10px;
   @include hover() using ($type) {
      @if $type == "disabled" {
         background-color: greenyellow;
      }

      @if $type == "not_disabled" {
         background-color: blueviolet;
      }
   }
}

.title {
   font-size: #{math.$pi * 10}px;
   @debug math.$pi;
}

main {
   background: {
      position: center;
      repeat: no-repeat;
      color: rgb(165, 222, 230);
   }
}

.player {
   > * {
      margin-bottom: 10px;
   }
   &__title {
   }

   &__cover {
   }
}
.song {
}
.progress {
   &_container {
      width: 100%;
      height: 10px;
      position: relative;
      cursor: pointer;
      border: 1px solid black;

      .progress {
         background-color: green;
         height: 100%;
         width: 150px;
      }
   }
}
.buttons {
   display: flex;
   * {
      margin-right: 20px;
   }
}
.btn {
}
.prev {
}
.play {
   width: 50px;
}
.next {
}

%message {
   border-radius: 5px;
   width: 100%;
   height: 50px;
}

.message-info {
   @extend %message;
   display: flex;
}

@function pow($base, $exp) {
   $result: 1;

   @for $_ from 1 through $exp {
      $result: $result * $base;
   }

   @return #{$result}px;
}

.sidebar {
   margin-left: pow(4, 3);
}

@function concat($str, $times, $del: " ") {
   $res: "";
   @for $_ from 1 to $times {
      @if $res == "" {
         $res: $res + $str;
      } @else {
         $res: $res + $del + $str;
      }
   }

   @return $res;
}

@debug concat("hello", 3);

// @function getMax($numbers...) {
//    $max: list.nth($numbers, 1);
//    @each $number in $numbers {
//       @if $number > $max {
//          $max: $number;
//       }
//    }

//    @return $max;
// }

// .message-success {
//    color: getMax(10, 30, 6, 90, 500);
// }

// $sizes: 8, 16, 32;

// @each $size in $sizes {
//    .ml-#{$size}p {
//       margin-left: #{$size}px;
//    }
// }

// $types: (
//    "success": #0f0,
//    "info": #00f,
//    "error": #f00,
// );

// @each $type, $color in $types {
//    .button-type-#{$type} {
//       border: 2px solid $color;

//       & .button-title {
//          color: $color;
//       }
//    }
// }

.test {
   font-size: #{math.div(30, 10)}px;
   line-height: calc(24 / 140 * 100%);
}
