.tooltip-element {
   padding: 5px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: gray;
}

.link {
   color: $selectColor;
   @media (any-hover: hover) {
      &:hover {
         color: darken($selectColor, 20%);
      }
   }
}

.test {
   @media (any-hover: hover) {
      &:hover {
         color: green;
      }
   }
}
